<div class="loginColumns animated fadeInDown" style="padding-top:30px">
    <div class="row">
        <div class="pull-right"><a href="/users/sign_in">Already have an account?</a></div>
        <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
        <div class="col-md-6">
            <% if params[:c] %>
                <h1><big><%= params[:c] %> team, Welcome to ContextSmith!</big></h1>
            <% else %>
                <h1><big>Sign up for ContextSmith free trial</big></h1>
            <% end %>
            <br/>

            <% if params[:c] %>
                <p>ContextSmith is a smarter way to manage your key accounts and expansion.</p>
            <% else %>
                <p>ContextSmith is a smarter way to manage your accounts. Our 14-day free trial includes:</p>
            <% end %>
            <ul style="line-height: 25px" class="m-t-md">
                <li>Track activities from emails, meetings, and Salesforce in a single timeline.</li>
                <li>Discover new contacts on your key accounts.</li>
                <li>Manage customer relationship with zero data entry.</li>
                <li>Automatic status reports so you know who has the ball.</li>
            </ul>

            <p class="m-t-md">
                ContextSmith works in the background of the email client you already use, so you can get started quickly and stay ahead of your customers. <% unless params[:c] %>Start your free trial today!<% end %>
            </p>

        </div>
        <div class="col-md-6 m-t-xl">
            <div class="ibox-content">
                <% if params[:invited_by] %>
                    <p class="logo-name oauth"><%= params[:invited_by] %> welcomes you to ContextSmith</p>
                <% end %>

                <% if params[:c] %>
                    <p class="m-t-sm"></p>
                <% elsif params[:m] %>
                    <h1 class="text-center">Thank you for installing!</h1>
                <% else %>
                    <p class="oauth text-center"><small>14-day free trial. No credit card required. </small></p>
                <% end %>

                <div class="text-center">
                    <% if params[:ext] and request.user_agent.downcase.match(/chrome/) %>
                        <button class="btn btn-lg btn-primary oauth" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/idihnnlkpfggfgjinfiodninabjggfop', successCallback, failureCallback)"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Install now for Gmail</span></button>
                        <script>
                            function successCallback () {
                                location.href='https://app.contextsmith.com/users/sign_up?m=thanks-for-installing'
                            }
                            function failureCallback () {
                                window.alert('Cannot install extension. Please try again or contact support@contextsmith.com for help.');
                            }
                        </script>
                    <% elsif params[:m] %>
                        <a class="btn btn-lg btn-primary oauth" href="https://mail.google.com"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Go to Gmail</span></a>
                    <% else %>
                        <a class="btn btn-lg btn-primary oauth" href="<%= user_omniauth_authorize_url(:google_oauth2) %>"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Sign Up Using Google</span></a>

                        <a class="btn btn-lg btn-primary oauth m-t-lg"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Sign Up Using Outlook</span></a>
                        <%= render "users/form_exchange" %>
                    <% end %>
                </div>

                <% if params[:c] %>
                    <p style="font-size:14px" class="text-center m-t-md">Please contact your system admin or email <a href="mailto:support@contextsmith.com">support@contextsmith.com</a> if you have any questions.</p>
                <% elsif params[:m] %>
                    <p style="font-size:14px" class="text-center m-t-md">ContextSmith will show up on the right sidebar of your Gmail.</p>
                <% else %>
                    <p style="font-size:12px" class="text-center"><small>By clicking this button you are agreeing to our <a href="https://www.contextsmith.com/terms/">Terms of Service</a>.</small></p>
                <% end %>
            </div>
        </div>
    </div>

    <% unless params[:c] or params[:m] %>
    <hr class="m-t-xl m-b-xl"/>
    <h2 class="m-b-md"> Frequently Asked Questions</h2>

    <div class="row">

        <div class="col-md-4">
            <h3>How does ContextSmith work?</h3>
            <p>ContextSmith accelerates sales by automatically tracking activities from emails, meetings, and syncing them with Salesforce. We enable the reps to find new contacts and opportunities that are typically missed multiple email threads.</p>
        </div>

        <div class="col-md-4">
            <h3>Is ContextSmith platform secure?</h3>
            <p>Absolutely. We repespect and protect your important business data. We don't save your password. Your data is encrypted and transmitted using SSL. We are also EU – U.S. Privacy Shield certified. Take a look at our <a target="_blank" href="https://www.contextsmith.com/privacy/">privacy policy</a></p>
        </div>

        <div class="col-md-4">
            <h3>What do you do with the data?</h3>
            <p>Your contact information and email data are yours alone and safe with us. We use the data to improve your business and productivity, and never for anything else. Take a look at our <a target="_blank" href="https://www.contextsmith.com/privacy/">privacy policy</a>.</p>
        </div>

    </div>
    <div class="row m-t-lg">
        <div class="col-md-4">
            <h3>Do you provide training and support?</h3>
            <p>We have great success and support teams. And we're also constantly investing in our <a href="https://contextsmith.zendesk.com/agent/" target="_blank">knowledge base articles</a>.</p>
        </div>

        <div class="col-md-4">
            <h3>What happens at the end of my trial?</h3>
            <p>Don’t worry, we’ll email you when your trial is nearing its end. Once it expires, you can upgrade to a paid plan, starting at $29/month.</p>
        </div>

        <div class="col-md-4">
            <h3>Do you support Outlook?</h3>
            <p>Not yet, but soon!  <a href="mailto:support@contextsmith.com?subject=Joining Outlook waitlist">Send an email</a> to us and we will notify you when we release.</p>
        </div>

    </div>
    <% end %>

    <hr />
    <div class="row text-center">
        <p class="m-t"><small><a href="http://www.contextsmith.com">ContextSmith.com</a></small> </p>
      <p><a href="https://www.contextsmith.com/privacy/">Privacy</a> | <a href="https://www.contextsmith.com/terms/">Terms</a></p>
    </div>
</div>
