<div class="loginColumns animated fadeInDown" style="padding-top:30px">
    <div class="row">
        <div class="pull-right"><a href="/users/sign_in">Already have an account?</a></div>
        <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
        <div class="col-md-6">
            <% if params[:c] %>
                <h1><big><%= params[:c] %> team, Welcome to ContextSmith!</big></h1>
            <% else %>
                <h1><big>Sign up for ContextSmith free trial</big></h1>
            <% end %>
            <br/>

            <% if params[:c] %>
                <p>ContextSmith is a smarter way to manage your key accounts and expansion.</p>
            <% else %>
                <p>ContextSmith is a smarter way to manage your accounts. Our 14-day free trial includes:</p>
            <% end %>
            <ul style="line-height: 25px" class="m-t-md">
                <li>Track account touch points in a single timeline.</li>
                <li>Discover actionable insights about your key accounts.</li>
                <li>Manage customer relationship with zero data entry.</li>
                <li>Automatic status reports so you know who has the ball.</li>
            </ul>

            <p class="m-t-md">
                ContextSmith works in the background of the email client you already use, so you can get started quickly and stay ahead of your customers. <% unless params[:c] %>Start your free trial today!<% end %>
            </p>

        </div>
        <div class="col-md-6 m-t-xl">
            <div class="ibox-content">
                <% if params[:invited_by] %>
                    <p class="logo-name oauth"><%= params[:invited_by] %> welcomes you to ContextSmith</p>
                <% end %>

                <% if params[:c] %>
                    <p class="m-t-sm"></p>
                <% elsif params[:m] %>
                    <h1 class="text-center">Thank you for installing!</h1>
                <% else %>
                    <p class="oauth text-center"><small>14-day free trial. No credit card required. </small></p>
                <% end %>

                <div class="text-center">
                    <% if params[:ext] and request.user_agent.downcase.match(/chrome/) %>
                        <button class="btn btn-lg btn-primary oauth" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/idihnnlkpfggfgjinfiodninabjggfop', successCallback, failureCallback)"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Install now for Gmail</span></button>
                        <script>
                            function successCallback () {
                                location.href='https://app.contextsmith.com/users/sign_up?m=thanks-for-installing'
                            }
                            function failureCallback () {
                                window.alert('Cannot install extension. Please try again or contact support@contextsmith.com for help.');
                            }
                        </script>
                    <% elsif params[:m] %>
                        <button class="btn btn-lg btn-primary oauth" onclick="location.href='https://mail.google.com'"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Go to Gmail</span></button>
                    <% else %>
                        <button class="btn btn-lg btn-primary oauth" onclick="location.href='<%= user_omniauth_authorize_url(:google_oauth2) %>'"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Sign Up Using Google</span></button>
                    <% end %>
                </div>

                <% if params[:c] %>
                    <p style="font-size:14px" class="text-center m-t-md">Please contact your system admin or email <a href="mailto:support@contextsmith.com">support@contextsmith.com</a> if you have any questions.</p>
                <% elsif params[:m] %>
                    <p style="font-size:14px" class="text-center m-t-md">ContextSmith will show up on the right sidebar of your Gmail.</p>
                <% else %>
                    <p style="font-size:12px" class="text-center"><small>By clicking this button you are agreeing to our <a href="https://www.contextsmith.com/terms/">Terms of Service</a>.</small></p>

                    <p class="text-muted text-center m-t-xl">
                        <small>Microsoft Outlook customer?</small>
                    </p>
                    <div class="text-center"><a class="btn btn-sm btn-white" href="http://resources.contextsmith.com/exchange">Sign up on our waitlist</a></div>
                <% end %>
            </div>
        </div>
    </div>

    <% unless params[:c] or params[:m] %>
    <hr class="m-t-xl m-b-xl"/>
    <div class="row">
      <h2 class="m-b-md"> Frequently Asked Questions</h2>

      <div class="col-md-4">
        <h3>Is there a catch?</h3>
        <p>No — no catch here. We do not ask for credit card information to start a free trial. We only collect work email and CRM (if applicable) to help you track customer communications and time spent with them.</p>
      </div>

      <div class="col-md-4">
        <h3>What happens at the end of my trial?</h3>
        <p>Don’t worry, we’ll email you when your trial is nearing its end. Once it expires, you can upgrade to a paid plan.</p>
      </div>

      <div class="col-md-4">
        <h3>Is ContextSmith platform secure?</h3>
        <p>Absolutely. We repespect and protect the privacy of your important business data. Your contact information and email data are yours alone and safe with us. We are also EU – U.S. Privacy Shield certified. Take a look at our <a target="_blank" href="https://www.contextsmith.com/privacy/">privacy policy</a>.</p>
      </div>
    </div>
    <% end %>

    <hr />
    <div class="row text-center">
        <p class="m-t"><small><a href="http://www.contextsmith.com">ContextSmith.com</a></small> </p>
      <p><a href="https://www.contextsmith.com/privacy/">Privacy</a> | <a href="https://www.contextsmith.com/terms/">Terms</a></p>
    </div>
</div>
