<div class="loginColumns animated fadeInDown" style="padding-top:30px">
    <div class="row">
        <div class="pull-right"><a href="/users/sign_in">Already have an account?</a></div>
        <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
        <div class="col-md-6">
            <% if params[:c] %>
                <h1><big><%= params[:c] %> team, Welcome to ContextSmith!</big></h1>
            <% else %>
                <h1><big>Sign up to use ContextSmith for free</big></h1>
            <% end %>
            <br/>

            <p>ContextSmith is a smarter way to land and expand your accounts.</p>
            <ul style="line-height: 25px" class="m-t-md">
                <li>Track everyone's sales activities in a single timeline.</li>
                <li>Sends daily status about your deals.</li>
                <li>Discover new contacts in your accounts.</li>
                <li>Manage customer relationship with zero data entry.</li>
            </ul>

            <p class="m-t-md">
                ContextSmith works in the background. Get started right now and get ahead!
            </p>

        </div>
        <div class="col-md-6 m-t-xl">
            <div class="ibox-content">
                <% if params[:invited_by] %>
                    <p class="logo-name oauth"><%= params[:invited_by] %> welcomes you to ContextSmith</p>
                <% end %>

                <% if params[:c] %>
                    <p class="m-t-sm"></p>
                <% elsif params[:m] %>
                    <h1 class="text-center">Thank you for installing!</h1>
                <% else %>
                    <p class="oauth text-center"><small>No credit card required. </small></p>
                <% end %>

                <div class="text-center">
                    <% if params[:ext] and request.user_agent.downcase.match(/chrome/) %>
                        <button class="btn btn-lg btn-primary oauth" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/idihnnlkpfggfgjinfiodninabjggfop', successCallback, failureCallback)"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Install now for Gmail</span></button>
                        <script>
                            function successCallback () {
                                location.href='https://app.contextsmith.com/users/sign_up?m=thanks-for-installing'
                            }
                            function failureCallback () {
                                window.alert('Cannot install extension. Please try again or contact support@contextsmith.com for help.');
                            }
                        </script>
                    <% elsif params[:m] %>
                        <a class="btn btn-lg btn-primary oauth" href="https://mail.google.com"><i class="fa fa-envelope-o oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Go to Gmail</span></a>
                    <% else %>
                        <% role = User::ROLE[:Biz] if params[:c] %>
                        <%= render "users/form_login", button_text: "Sign Up", role: role %>
                        
                    <% end %>
                </div>

                <% if params[:c] %>
                    <p style="font-size:14px" class="text-center m-t-md">Please contact your system admin or e-mail <a href="mailto:support@contextsmith.com">support@contextsmith.com</a> if you have any questions.</p>
                <% elsif params[:m] %>
                    <p style="font-size:14px" class="text-center m-t-md">ContextSmith will show up on the right sidebar of your Gmail.</p>
                <% else %>
                    <p style="font-size:12px" class="text-center"><small>By clicking this button you are agreeing to our <a href="https://www.contextsmith.com/terms/">Terms of Service</a>.</small></p>
                <% end %>
            </div>
        </div>
    </div>

    <hr />
    <div class="row text-center">
        <p class="m-t"><small><a href="http://www.contextsmith.com">ContextSmith.com</a></small> </p>
      <p><a href="https://www.contextsmith.com/privacy/">Privacy</a> | <a href="https://www.contextsmith.com/terms/">Terms</a></p>
    </div>
</div>
