<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
     <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
           <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                  <div style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                    Hi <%= @user.first_name %>,
                    <br/><br/>

                    <p>I'm Will, founder of ContextSmith. I wanted to personally welcome you onboard. You’re joining thousands of businesses and professionals who use ContextSmith daily.</p>
                    <p>We help you track when & where your contacts open your emails for free. If you feel adventurous, we also offer a limited free personal CRM inside your Gmail. Check out our <a href="https://app.contextsmith.com/plans/new" target="_blank">paid plans</a> if you need more CRM power for growing business.</p>
                    <p>Feel free to reply to this email if you need any help (I do read it). Hope you enjoy our free email tracker!</p>

                    Best,<br/>
                    Will Cheung <br/>
                    Founder, CEO @ ContextSmith <br/><br/>
                     <a href="https://chrome.google.com/webstore/detail/contextsmith-email-tracke/idihnnlkpfggfgjinfiodninabjggfop" target="_blank">Download Chrome Extension</a>
                  </div>
              </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222;font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
           </tr>
        </table>
     </td>
  </tr>
</table>
