<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @user.first_name %>,<br/><br/>
    
      Thanks for signing up for ContextSmith, welcome! <a href="http://contextsmith.com/">Explore our solution</a>!
    
    	<br/><br/>
      Best,<br/>
      Will
      Founder of ContextSmith
    
  </body>
</html>