files:
  '/opt/elasticbeanstalk/support/conf/puma_extend_conf.rb' :
    mode: "000644"
    owner: root
    group: root
    content: | 
      before_fork do 
        require 'puma_worker_killer' 
        PumaWorkerKiller.config do  | config | 
          config.ram =  7168  # amount of memory (MB) 
          config.frequency =  60     # run every 60 seconds
          config.percent_usage =  0.95  # % memory to restart
          config.rolling_restart_frequency =  3*3600 # 2 hours
          config.reaper_status_logs = true # log output for debugging
        end
        PumaWorkerKiller.enable_rolling_restart
        PumaWorkerKiller.start
      end

container_commands:
  00_add_puma_extend_conf:
    command: "cat /opt/elasticbeanstalk/support/conf/puma_extend_conf.rb >> /opt/elasticbeanstalk/support/conf/pumaconf.rb"
    ignoreErrors: true
  01_add_puma_extend_conf_done:
    command: "touch /home/ec2-user/add_puma_extend_conf_done" 
    ignoreErrors: true