files:
    "/etc/cron.d/memutil-cloudwatch":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * /home/ec2-user/aws-scripts-mon/mon-put-instance-data.pl --mem-used-incl-cache-buff --mem-util --mem-used --mem-avail --disk-space-util --disk-path=/ --auto-scaling=only --from-cron

commands:
  00download:
    command: "curl https://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.2.zip -O"
    ignoreErrors: true
  01extract:
    command: "unzip CloudWatchMonitoringScripts-1.2.2.zip"
    ignoreErrors: true
  02rmzip:
    command: "rm CloudWatchMonitoringScripts-1.2.2.zip"
    ignoreErrors: true
  03prereq:
    command: "sudo yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https perl-Digest-SHA.x86_64"
    ignoreErrors: false
  04awscred:
    command: "echo 'AWSAccessKeyId=AKIAJNYW7EENDYOGMA6Q' > aws-scripts-mon/awscreds.conf && echo 'AWSSecretKey=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' >> aws-scripts-mon/awscreds.conf"
    ignoreErrors: true
  05cdinto:
    command: "mv aws-scripts-mon/ /home/ec2-user"
    ignoreErrors: true
  06rmoldcron:
    command: "rm -f /etc/cron.d/*.bak"
    ignoreErrors: true