
container_commands:
  00download:
    command: "curl https://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.2.zip -O"
    ignoreErrors: true
  01extract:
    command: "unzip CloudWatchMonitoringScripts-1.2.2.zip"
    ignoreErrors: true
  02rmzip:
    command: "rm CloudWatchMonitoringScripts-1.2.2.zip"
    ignoreErrors: true
  03prereq:
    command: "sudo yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https perl-Digest-SHA.x86_64"
    ignoreErrors: false
  04cdinto:
    command: "mv aws-scripts-mon/ /home/ec2-user"
    ignoreErrors: true
  05awscred:
    command: "echo 'AWSAccessKeyId=AKIAJNYW7EENDYOGMA6Q' > awscreds.conf && echo 'AWSSecretKey=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' >> awscreds.conf"
    ignoreErrors: true
  06cron:
    command: "crontab -l | grep -q 'mon-put-instance-data.pl' || crontab -l | { cat; echo '*/5 * * * * ~/aws-scripts-mon/mon-put-instance-data.pl --mem-used-incl-cache-buff --mem-util --mem-used --mem-avail --disk-space-util --auto-scaling=only --disk-path=/ --from-cron'; } | crontab"
    ignoreErrors: false