commands:
  01limits:
    command: echo -e "#commands\nroot soft nofile 65536\nroot hard nofile 65536\n* soft nofile 65536\n* hard nofile 65536" >/etc/security/limits.d/custom.conf
  02sysctl:
    command: sysctl -w fs.file-max=131072 fs.nr_open=131072 net.ipv4.netfilter.ip_conntrack_max=131072 net.nf_conntrack_max=131072