<% remote ||= false %>
<%= simple_form_for :notification, remote: remote do |f| %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <!-- <div class="input-group">
      <span class="input-group-btn top">
        <button class="info-bg note-btn" disabled="true">
          <i class="fa fa-check-square-o"></i>
        </button>
      </span> -->
      <%= f.input :name, label: false, wrapper_html: { class: 'col-lg-8'}, input_html: { style: "border:none;" }, placeholder: "Add a Task..." %>
  <!-- </div> -->
      <%= f.input :project_id, label: false, wrapper_html: { class: 'col-lg-3'}, input_html: { style: "border:none;" }, collection:  @projects, selected: @projects, placeholder: "Project Stream" %>
      
  <%# Added Bootstrap classes %>
  <div class="col-lg-1">
    <%= f.button :submit, "Add Task", class: 'btn-primary form-group' %>
  </div>
 

<% end %>