<% unless notifications.empty? %>
<% multi_table ||= "notifications-table" %>
<table class="table responsive no-wrap no-margins" id=<%= multi_table %> cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Type  <i class="fa fa-question-circle tool-tip-category" data-placement="right" ></i></th>
      <th class="col-md-4">Task</th>
      <% unless multi_table == "timeline-block-notification-table" %><th></th><% end %>
      <% if params[:controller] == "notifications" or params[:controller] == "home" %><th>Stream</th> <% end %>
      <th>Assign</th>
      <th>Due </th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% notifications.each do |n| %>
      <%= render "notifications/table_row", n: n, multi_table: multi_table %>
    <% end %>
  </tbody>
</table>
<% end %>