<h1>test</h1>

<%=@notification.name %>
<br>


<%=@notification.description %>
<br>

<button>hide the div</button>
<div></div>
 
    <table>
                            <tbody>        
                            <tr>
                                <td><input type="checkbox" class="sasuke"></td>
                            </tr>
                            </tbody>
                        </table>

<script>
$('.sasuke').click(function() {
	$(this).parent('tr').remove();
});

</script>


