<% remote ||= false %>
<% url ||= user_session_path %>
<%= simple_form_for :user, url: url, remote: remote, html: {role: :form, 'data-model' => 'user', id: 'new_user', style: "display:none;"}  do |f| %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
      <span class="help-block" style="color:red"></span>
      <%= f.input :email, wrapper_html: { class: 'col-md-4'}, :required => true %>
      <%= f.input :password, wrapper_html: { class: 'col-md-4'}, :required => true %>

  <div class="clearfix">&nbsp;</div>  
    <%= f.button :submit, "Log In", class: 'btn btn-sm btn-primary pull-right form-group' %>
 

<% end %>
<script type="text/javascript">
  $('#outlook-login').click(function () {
    $(this).hide();
    $('#new_user').show();
  })
</script>