/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

h3 small {
	font-size: 75%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
}


a.navbar-minimalize.btn-primary.btn-outline:hover .fa-bars {
  color: white;
}

a.navbar-minimalize.btn-primary.btn-outline:focus, a.navbar-minimalize.btn-primary.btn-outline:active {
  background-color: #f3f3f4;
}

a.navbar-minimalize.btn-primary.btn-outline:focus .fa-bars, a.navbar-minimalize.btn-primary.btn-outline:active .fa-bars {
  color: $primary;
}

a.navbar-minimalize.btn-primary.btn-outline:focus:hover .fa-bars, a.navbar-minimalize.btn-primary.btn-outline:active:hover .fa-bars {
  color: white;
}

a.navbar-minimalize.btn-primary.btn-outline:focus:hover, a.navbar-minimalize.btn-primary.btn-outline:active:hover {
  background-color: $primary;
}

.nav-header .logo {
  height: auto;
  background: url('/assets/logo-white.png') center no-repeat;
  background-size: 130px;
}

.btn-circle-xs {
  width: 20px;
  height: 20px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 11px;
  line-height: 0.7;
}

.project-team-title {
  line-height: 1.1;
  padding-top: 3px;
}

.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 20px;
}

.comment-header-box {
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(170,170,170,1);
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 100%;
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #e5e6e7;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 6%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.arrow_box:before {
  border-color: rgba(139, 139, 139, 0);
  border-bottom-color: #e5e6e7;
  border-width: 8px;
  margin-left: -8px;
}
.catchup-title a {
  color: #999;
}
.catchup-title a:hover {
  color: #555;
}
.catchup-title h2 {
  font-weight: 500;
}
.catchup .projects ul{
  line-height: 2;
  font-size: 14px;
}
hr.catchup {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
h2.catchup-project {
  position: relative;
  text-align: left;
  font-weight: 500;
  margin-top: 30px;
}
h2.catchup-project span {
  background: #fff;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}
h2.catchup-project:before {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h2.catchup-project:before {
  left: 0;
}

.projects p {
  font-weight: 300;
}
.projects strong {
  font-weight: 500;
}

button.oauth {
  -webkit-font-smoothing: auto;
  font-weight: 500;
  width: 100%;
  max-width: 280px;
  font-size: 20px;
  margin: 25px 25px 10px 25px;
}
h1.oauth {
  font-size: 35px;
  color: #555;
}
i.oauth {
  vertical-align: bottom;
  font-size: 25px;
}
p.oauth {
  font-size: 15px;
  color: #444;
  font-weight: 300;
}
a.oauth.logo {
  height: 100px;
  background: url('/assets/logo.png') center no-repeat;
  background-size: 150px;
  display:block;
}

.initials-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 21px Arial, sans-serif;
}
hr.message-divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 3px;
  margin-bottom: 6px;
}
.more-messages {
  text-align: center;
  margin: 12px 0;
}
.more-messages a {
  color: #888;
}
.rounded-initials {
  border-radius:50%;
  width:32px;
  height:32px;
  padding:3px;
  border:1px solid #666;
  color:#fff;
  text-align:center;
  font-size:14px;
  float:left;
  line-height:25px;
  cursor:default;
  background: #000;
}
.social-comment .rounded-initials {
  width:26px;
  height:26px;
  font-size:11px;
  padding: 0;
}
.social-comment textarea {
  font-size: 12px;
}
.chat-discussion .action-links {
  font-size: 12px;
  padding: 15px 0;
}
span.best_in_place.pin {
  border:0;
}

h1.onboarding {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}

span.best_in_place {
  cursor:pointer;
  border-bottom: 1px dashed #888;
  text-decoration: none;
}
span.best_in_place.switch {
  border: none;
}