/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

h3 small {
	font-size: 75%;
}

.vtop {
  vertical-align: top;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.vbottom {
  display: inline-block;
  vertical-align: bottom;
}


a.navbar-minimalize.btn-primary.btn-outline:hover .fa-bars {
  color: white;
}

a.navbar-minimalize.btn-primary.btn-outline:focus, a.navbar-minimalize.btn-primary.btn-outline:active {
  background-color: #f3f3f4;
}

a.navbar-minimalize.btn-primary.btn-outline:focus .fa-bars, a.navbar-minimalize.btn-primary.btn-outline:active .fa-bars {
  color: $primary;
}

a.navbar-minimalize.btn-primary.btn-outline:focus:hover .fa-bars, a.navbar-minimalize.btn-primary.btn-outline:active:hover .fa-bars {
  color: white;
}

a.navbar-minimalize.btn-primary.btn-outline:focus:hover, a.navbar-minimalize.btn-primary.btn-outline:active:hover {
  background-color: $primary;
}

.navbar-header .logo {
  height: auto;
  background: url('/assets/logo.png') center no-repeat;
  background-size: 100px;
}

.btn-circle-xs {
  width: 20px;
  height: 20px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 11px;
  line-height: 0.7;
}

.project-team-title {
  line-height: 1.1;
  padding-top: 3px;
}

.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 20px;
}

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #e5e6e7;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 6%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.arrow_box:before {
  border-color: rgba(139, 139, 139, 0);
  border-bottom-color: #e5e6e7;
  border-width: 8px;
  margin-left: -8px;
}
.catchup-title a, a.link-muted {
  color: #999;
}
.catchup-title a:hover, a.link-muted:hover {
  color: #555;
}
.catchup-title h2 {
  font-weight: 500;
}
.catchup .projects ul{
  line-height: 2;
  font-size: 14px;
}
hr.catchup {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
h2.catchup-project {
  position: relative;
  text-align: left;
  font-weight: 400;
  margin-top: 30px;
}
h2.catchup-project span {
  background: #fff;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}
h2.catchup-project:before {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h2.catchup-project:before {
  left: 0;
}

.projects p {
  font-weight: 300;
}
.projects strong {
  font-weight: 500;
}

button.oauth {
  -webkit-font-smoothing: auto;
  font-weight: 500;
  width: 100%;
  max-width: 280px;
  font-size: 20px;
  margin: 25px 25px 10px 25px;
}
h1.oauth {
  font-size: 35px;
  color: #555;
}
i.oauth {
  vertical-align: bottom;
  font-size: 25px;
}
p.oauth {
  font-size: 15px;
  color: #444;
  font-weight: 300;
}
a.oauth.logo {
  height: 100px;
  background: url('/assets/logo.png') center no-repeat;
  background-size: 250px;
  display:block;
}
.vertical-timeline-content.highlight {
  border-color: #777;
}
ul.daily-summary {
  list-style-type: none;
}
ul.daily-summary li {
  margin: 6px 0;
}

.initials-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 21px Arial, sans-serif;
}
hr.message-divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 3px;
  margin-bottom: 6px;
}
.more-messages {
  text-align: center;
  margin: 12px 0;
}
.more-messages a {
  color: #888;
}
.rounded-initials {
  border-radius:50%;
  width:32px;
  height:32px;
  padding:3px;
  border:1px solid #666;
  color:#fff;
  text-align:center;
  font-size:14px;
  float:left;
  line-height:25px;
  cursor:default;
  background: #000;
}
.social-comment .rounded-initials {
  width:26px;
  height:26px;
  font-size:11px;
  padding: 0;
}
.social-comment textarea {
  font-size: 12px;
}
.chat-discussion .action-links {
  font-size: 12px;
  padding: 15px 0;
}
span.best_in_place.pin {
  border:0;
}
.tooltip {min-width:180px;}

h1.onboarding {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}
i.bip_activator {
  cursor:pointer;
}
span.best_in_place.switch {
  border: none;
}
.vertical-timeline-content.private {
  background-color: #ffecec;
}
.best_in_place.toggle-private {
  border: none;
}
span.best_in_place.btn {
  border: none;
}
.best_in_place.fa-caret-down:before {
  float:right;
  content: "\00a0 \f0d7";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-top:3px;
}
/* adjust outside margin to become padding for more intuitive feel on hover */
.vertical-timeline-block .timeline-note {
  margin: -.8em -1em 0 -1em;
  padding: .8em 1em 0 1em;
}
.project-people .delete-member,
.timeline-note .delete-note,
.social-comment .delete-comment,
.task-name .edit-task,
.task-desc .edit-task,
.contact-info .edit-contact {
  color: transparent;
}
.project-people .member:hover .delete-member,
.timeline-note:hover .delete-note,
.social-comment:hover .delete-comment {
  display: block;
}
.task-name { font-weight: 500;font-size:14px; }
.task-desc { font-weight: 300; }
.task-name:hover .edit-task,
.task-desc:hover .edit-task,
.contact-info:hover .edit-contact {
  color: #999;
}
#projects-table th, #accounts-table th {
  padding-top:20px;
  padding-bottom:20px;
}
#projects-table thead, #accounts-table thead {
  background:#f5f5f9;
}

/* Jquery UI Datepicker */
.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}
.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
       -moz-transition: color 0.1s ease-in-out;
         -o-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 20px;
    color: #999;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
    content: "\e080";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
    color: #000 !important;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
         -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover:not(.ui-datepicker-current-day) {
    background-color: #eee;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
    color: #000;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #285e8e;
    /* background-color: #4289cc; */
}
.ui-datepicker td.ui-datepicker-current-day a {
    color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.ui-datepicker-month {
    border: 0px;
    color: #000;
}
.ui-datepicker-year {
    border: 0px;
    color: #000;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  border: 0;
  background: #fff;
  font-weight:normal;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-active {
  border:0;
  background: inherit;
  color:#fff;
}
#notifications-table_wrapper .bottom {
  display: none;
}

/* Wrapper for user inputs for tasks/notes */
.header-box {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(170,170,170,1);
}

.input-border {
  border-width: 0 0 1px 0;
}

.btn-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  border: 2px solid white;
}

.max-w-xl {
  max-width: 95%;
}

.max-w-lg {
  max-width: 90%;
}

.fill_in_info .radio {
  display: inline-block;
  margin: 10px;
}

.timeline-note p {
  margin: 14px 0;
}

.jira-bg {
  background-color: #55AEE3;
  color: #ffffff;
}

.jira-bg > .jira-logo {
  background-image: url("images/icons/jira_rgb_white.svg");
  height: 20px;
  background-size: 24px 18px;
}

.zd-bg {
  background-color: #02363D;
  color: #ffffff;
}

.zd-bg > .zd-logo {
  background-image: url("images/icons/zendesk-medium-white.svg");
  height: 20px;
  background-size: 24px 18px;
  margin-top: -9px;
}

a.suggested-action {
  color: $text-color;
  border-bottom: 1px dashed $text-color;
}

a.suggested-action:hover, a.suggested-action:focus {
  border-bottom: 1px solid $text-color;
}

.popover {
  width: 520px;
  max-width: 520px;
}

.popover .popover-title {
  margin: 0;
  text-align: center;
}

.popover-content {
  padding: 5px;
}

.popover label {
  font-size: 12px;
  margin-top: 5px;
}

.popover-content input, .popover-content select {
  height: 26px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
}

.popover-content input[type=date], .popover-content select {
  width: 121px;
  display: inline-block;
  margin: 0 5px;
}

.vertical-timeline-icon.salesforce-bg .salesforce-logo{
  background-image: url("images/salesforce.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  margin-top:-12px;
  height:24px;
  width: 24px;
}


.vertical-timeline-icon.basecamp2-bg .basecamp2-logo{
  background-image: url("images/basecamp2.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  margin-top:-12px;
  height:24px;
  width: 24px;
}

.element-disabled {
  opacity: 0.1;
  pointer-events: none;
}

/** Chrome Extenstion **/
.extension-sidebar ul.nav.nav-tabs li a {
  font-size: 11px;
  padding: 8px 12px;
}

.extension-sidebar ul.nav.nav-tabs {
  border-bottom: 0;
}

.vertical-timeline-block.extension-block {
  margin-bottom: 2em;
}

.extension-timeline-content {
  margin-left: 35px;

  h4 {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
  }

  p {
    font-weight:300;
    margin: 6px 0;
    color: #333;
  }

  p.time-ago {
    font-size: 85%;
    color: #888;
    margin-top:10px;
  }

  small {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
  }
}

#extension-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 11px;
  height: 100%;
  width: 3px;
  background: #e7eaec;
}

#extension-timeline .vertical-timeline-icon {
  width: 25px;
  height: 25px;
  border: 2px solid #f1f1f1;
}

.extension-sidebar .tasks {
  margin: 7px 0;

  .icheckbox_square-green {
    float: left;
  }

  p {
    margin-bottom: 0px;
    line-height: 15px;
  }

  p, small {
    margin-left:28px
  }

  small {
    color: #aaa;
  }
}

.extension-sidebar .task-form {
  input {
    width: 85%;
    margin-left: 28px;
    padding-top: 0;
  }
}

#chrome-notification-bar {
    text-align: center;
    background-repeat:no-repeat;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    height:20px;

    span {
      line-height: 22px;
    }
}

.top-navigation .nav.nav-tabs > li.active {
  border-bottom: none;
}