<style type="text/css">
  body {
    background-color: white !important;
  }
  .fw-300 {
    font-weight: 300
  }
</style>

<div class="white-bg">
    <div style="width: 665px; margin: 0 auto 3em">
        <div>
            <div class="m-t-xl">
                <h2 class="text-center">Upgrade to <%= link_to 'Pro Plan', new_plan_path, target: '_blank' %> and get full CRM right here, inside your Gmail.</h2>
                <h3>
                    <ul class="fw-300 m-l-xl">
                        <li>Update Opportunity fields like a spreadsheet</li>
                        <li>Get dashboards about Opportunities and goals</li>
                        <li>Never leave Gmail again</li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>
    <div class="text-center m-t-xl">
        <h2>Upgrade to Pro Plan for free</h2>
        <% if !current_user.pro? %>
            <%= form_tag plans_path, :id => 'upgrade' do %>
                <input type="hidden" name="plan" id="plan" value="">
                <input type="hidden" name="stripeToken" id="stripeToken">
                <input type="hidden" name="refresh" value="true">
            <% end %>
            <h3>
                <a class="btn btn-primary btn-lg m-b-sm start pro-start" data-amount=2500 data-plan="pro-monthly-v2" href="#"><i class="fa fa-star"></i> Try Now!</a>
                <br>
                <span class="fw-300">14 days free trial on <%= link_to 'Pro Plan', new_plan_path, target: '_blank' %>
                <br>
                No credit card required</span>
            </h3>
        <% else %>
           <i class="fa fa-check fa-4x text-success"></i>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    var update_sfdc_button_html = "Update&nbsp;<img id='sfdc-icon' src='/assets/images/salesforce.png' style='width:30px;'/>";

    var popupWindowRef = null;
    var openSignInPopup = function (strUrl, strTarget) {
        var strOptions = "width=700,height=700";
        if (popupWindowRef == null || popupWindowRef.closed) {
            popupWindowRef = window.open(strUrl, strTarget, strOptions);
            // Poll popup window, refresh this page when it is closed
            var pollPopupClosed = window.setInterval(function() {
                if (popupWindowRef.closed) {
                    window.clearInterval(pollPopupClosed);
                    window.location.reload(true)
                }
            }, 200);
        }
        else {
            popupWindowRef.focus();
        }
    };

    $('.start').click(function(evt) {
        evt.preventDefault();
        $('input#plan').val(evt.target.dataset.plan);
        $('form#upgrade').submit();
    });
</script>