<dd class="project-people members">
    <% @project_members.each do |pm| %>
        <%= render 'project_members/extension_member', pm: pm %>
    <% end %>
</dd>

<p class="text-center m-t-md"><a type="button" class="btn btn-outline btn-primary btn-sm" href="<%= project_path(@project) %>/arg" target="_blank">View Relationship Graph &rarr;</a></button></p>