<a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>

<h1 class="text-center m-b-md">Welcome!</h1>
<h4 class="text-center">You're logged in as <%= current_user.email %></h4>

<script>
    // inform the extension code that the user is logged in
    // iframe is embedded deep, thus we need to post from parent of parent
    parent.parent.postMessage({type: 'cs-user-logged-in'}, "https://mail.google.com");
</script>
<% if @gmail_user && @gmail_user != current_user.email %>
    <div class="container-fluid text-center well" style="margin-top: 20px;">
      <div class="row">
      <h3 class="text-center" style="line-height: unset;"><i class="text-warning fa fa-exclamation-triangle"></i>&nbsp;Please log out and sign in as <b><%= @gmail_user %></b> to use the ContextSmith
        extension </h3>
      </div>
      <div class="row">
        <div class="col-md-2">
        <a class="btn btn-primary" href="<%= destroy_user_session_path(:extension => true) %>"><span>Logout</span></a>
        </div>
      </div>
    </div>
<% else %>
    <h4 class="text-center middle-box" style="margin-top: 100px">Click on an email or hover over<br>the sender to see contact profile here.</h4>
    <img class="img-responsive" src="/assets/images/contacts.png" alt="Contact Cards">
    <% if params[:login] %>
        <!-- if params[:login] is set, redirected here after signing in successfully from extension -->
        <script type="text/javascript">
            // Close this window, extension sidebar will refresh
            window.close();
        </script>
    <% end %>
<% end %>