<div class="text-center loginscreen animated">
  <div>
       <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
      <div class="ibox-content middle-box">
      
      	<h1 class="logo-name oauth" style="font-size:19px;">Just one more step.</h1>

        <a class="btn btn-lg btn-primary" style="margin: 25px 0;" href="<%= user_omniauth_authorize_url(:google_oauth2) %>" target="SignIn" onclick="openSignInPopup(this.href, this.target); return false;"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Log in Using Google</span></a>

        <p class="oauth" style="font-size:10px;margin-top:15em;">By clicking this button, you agree to our <br><a href="https://www.contextsmith.com/terms/" target="_blank">Terms of Service</a>.</p>
  	</div>

  </div>
</div>
<script type="text/javascript">
  var popupWindowRef = null;

  var openSignInPopup = function (strUrl, strTarget) {
    var strOptions = "width=700,height=700";
    if (popupWindowRef == null || popupWindowRef.closed) {
      popupWindowRef = window.open(strUrl, strTarget, strOptions);
      // Poll popup window, refresh this page when it is closed
      var pollPopupClosed = window.setInterval(function() {
        if (popupWindowRef.closed) {
          window.clearInterval(pollPopupClosed);
          window.location.reload(true)
        }
      }, 200);
    }
    else {
      popupWindowRef.focus();
    }
  }

</script>
