<h3 class="m-t-lg">This account is not in ContextSmith.</h3>
<p class="text-center m-t-lg"><%= link_to "Create #{@domain}", '#new_account_modal', 'data-toggle' => 'modal', class: 'btn btn-primary' %></p>

<%= render 'accounts/modal', modal_id: 'new_account_modal' %>