
<h3 class="text-center" style="margin-top: 30px"><strong>This looks like an internal e-mail.</strong></h3>
<h4 class="text-center" style="line-height:1.25em; color: #999">ContextSmith does not track any internal e-mails to protect your privacy.</h4>


<h3 class="text-center middle-box" style="line-height:1.25em">Invite your colleagues to collaborate<br/> and track all sales activity.</h3>

<!--<h3 class="text-center" style="line-height: 1.25em">Please mouse-over an e-mail recipient or open a customer e-mail to get more context from a timeline and contacts.</h3>-->

<hr/>

<table class="center">
    <% @users.sort_by {|u| u.first_name.upcase}.each do |u| %>
    <tr>
        <% full_name = get_full_name(u) %>
        <td><%= (full_name == " ") ? u.email : full_name %></td>
        <td style="text-align:center">
            <% if u.onboarding_step == -1 && !u.cluster_create_date.nil? %>
                Joined!
            <% else %>
                <%= link_to 'Invite', "/settings/invite_user/#{u.id}", 'class' => 'btn btn-primary btn-sm', 'method' => 'post', 'remote' => true, 'id' => "#{u.id}", 'data-toggle' => "tooltip", 'data-placement' => "right", 'data-original-title' => "We will send an e-mail invitation." %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

<style>
    table.center {
        margin: 0 auto;
    }
    table, td, th {
        padding: 0.25em 1em;
    }
</style>
