<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Share us with the world!</title>


  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css"/>
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css"/>

</head>
<body>
<div class="gray-bg jumbotron center-block">
  <div class="container">
    <h2 class="text-center">Tell your friends about ContextSmith and receive $5 credit for every referral.</h2>
    <p></p>
    <div class="text-center" id="share"></div>
  </div>
</div>
<div class="copier">
  <p></p>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<script>
    var copyToClipboard = (function () {
        var _dataString = null;
        document.addEventListener("copy", function (e) {
            if (_dataString !== null) {
                try {
                    e.clipboardData.setData("text/plain", _dataString);
                    e.preventDefault();
                } finally {
                    _dataString = null;
                }
            }
        });
        return function (data) {
            _dataString = data;
            document.execCommand("copy");
            $('.jssocials-share.jssocials-share-copy > a > span').text("Copied!");
        };
    })();

    jsSocials.shares.copy = {
        label: 'Clipboard',
        logo: 'fa fa-clipboard',
        shareUrl: 'javascript:(function() { copyToClipboard(\'{url}\'); return false; })()',
        countUrl: ''
    };

    $('#share').jsSocials({
        url: '<%= @referral_url %>',
        text: "I\'m using ContextSmith's free Email Tracking and Profiling #EmailTracking ",
        showCount: true,
        showLabel: true,
        shareIn: 'self',
        shares: ['twitter', 'facebook', 'linkedin', 'copy']
    });
    $('.jssocials-shares').css({'font-size': '16pt'});
    $('.jssocials-share.jssocials-share-facebook > a > span').text("Share")
</script>
</body>
</html>