<div class="lock-word animated fadeInDown">
     <div class="m-t-md">
        <img alt="image" style="width:220px" src="/assets/logo.png">
    </div>
    <span>Ooops...</span>
</div>
<div class="middle-box text-center lockscreen animated fadeInDown">
	<div class="m-t-md">
    <p style="font-size:16px;font-weight:200">We currently don't support personal e-mail accounts.  <br/>Please sign up using your company e-mail.</p>
	</div>

	<div class="m-t-lg">
		<ul class="list-inline social-icon" style="font-size:18px">
	      <li><a href="https://twitter.com/contextsmith" target="_blank"><i class="fa fa-twitter"></i></a>
	      </li>
	      <li><a href="https://www.facebook.com/ContextSmith" target="_blank"><i class="fa fa-facebook"></i></a>
	      </li>
	      <li><a href="https://www.linkedin.com/company/contextsmith" target="_blank"><i class="fa fa-linkedin"></i></a>
	      </li>
	  </ul>
		<a href="http://www.contextsmith.com" class="btn btn-primary">Back to homepage</a>
	</div>
</div>

