<head>
    <%= stylesheet_link_tag 'landing' %>
</head>

<body>

	<h1 class="main_title">Privacy Policy</h1>
				
				
					<div class="entry-content">
					<p>Last Revised on: February 3, 2018</p>
<p>This Privacy Policy (&#8220;Policy&#8221;) applies to contextsmith.com (the “Site”) owned and operated by ContextSmith, Inc. (&#8220;ContextSmith&#8221;, &#8220;We&#8221;, &#8220;Us&#8221; or &#8220;Our&#8221;). ContextSmith is committed to protecting the privacy of your personal information. This Privacy Policy describes how ContextSmith collects, uses, shares and secures the personal information you provide. This Privacy Policy applies to data collected by ContextSmith and its subsidiaries through the contextsmith.com, other webpages that we operate in which we post a direct link to this Privacy Policy, and the ContextSmith Platform. It also describes the choices available to you regarding the use of, your access to, and how to update and correct your personal information.  By using the Site, you consent to the data practices described in this Privacy Policy.</p>

<!--<h3><strong>EU – U.S. Privacy Shield</strong></h3>
<p>ContextSmith participates in and has certified its compliance with the EU-U.S. Privacy Shield Framework.  ContextSmith is committed to subjecting all personal data received from European Union (EU) member countries, in reliance on the Privacy Shield Framework, to the Framework’s applicable Principles.  To learn more about the Privacy Shield Framework, visit the U.S. Department of Commerce’s Privacy Shield List at <a href="https://www.privacyshield.gov/list">https://www.privacyshield.gov/list</a>.</p>
<p>ContextSmith is responsible for the processing of personal data it receives under the Privacy Shield Framework and subsequently transfers to a third party acting as an agent on its behalf. ContextSmith complies with the Privacy Shield Principles for all onward transfers of personal data from the EU, including the onward transfer liability provisions.</p>
<p>With respect to personal data received or transferred pursuant to the Privacy Shield Framework, ContextSmith is subject to the regulatory enforcement powers of the U.S. Federal Trade Commission. In certain situations, ContextSmith may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.</p>
<p>Under certain conditions, more fully described on the <a href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint">Privacy Shield website</a>, you may be entitled to invoke binding arbitration when other dispute resolution procedures have been exhausted.</p>
-->
<h3><strong>What We Collect</strong></h3>
<p>You can visit a ContextSmith Site without telling us who you are and without revealing any personal information about yourself. There are times, however, when we may need certain personal information from you.  We get information about you in a range of ways.</p>
<p><strong>Information You Give Us.</strong> We collect your‎ name, email address as well as other information you directly give us on our Site or granted us permission to access when you elect to register with ContextSmith in order to download or access our products or services.</p>
<p><strong>Information We Get From Others.</strong> We may get information about you from publicly available content on the Internet or other sources. We may add this to information we get from this Site.</p>
<p><strong>Information Automatically Collected.</strong> We automatically log information about you and your computer, such as your computer operating system type, browser type, Emails and information about your use of and actions on our Site.  We also temporarily cache any external emails that you grant us permission to access.</p>
<p><strong>Cookies.</strong> We may log information using &#8220;cookies.&#8221; Cookies are small data files stored on your hard drive by a website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site.    This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs.</p>
<p><strong>Log Files.</strong> As is true of most websites, We gather certain information automatically and store it in log files. This information may include Internet protocol (“IP”) addresses, browser type, internet service provider (“ISP”), referring/exit pages, operating system, date/time stamp, and/or clickstream data.  We may combine this log information with other information We collect about you. We do this to improve services We offer you (including the product experience), and to improve marketing, analytics, and site functionality.</p>
<p><strong>Single Sign-On. </strong>You can log in to our site using a Single Sign-on (SSO) service like your Google account. This service will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign up form.  Such services may give you the option to post information about your activities on this Web site to your profile page to share with others within your network.</p>
<h3><strong>Use of Information Collected</strong></h3>
<p>We use your personal information as follows:</p>
<ul>
<li>We use your personal information to send information including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages.</li>
<li>We use your personal information to link or combine user information with other personal information.</li>
<li>We use your personal information to provide and deliver products and services customers request.</li>
<li>We use aggregated and/or anonymized data to further improve our products and services.</li>
</ul>
<p>&nbsp;</p>
<h3><strong>Sharing of Information Collected</strong></h3>
<p>ContextSmith is not in the business of selling your personal information. We consider this information to be a vital part of Our relationship with you. There are, however, certain circumstances in which We may share your personal information with certain third parties, as set forth below:</p>
<ul>
<li>Related Companies: We may share your information with affiliated business partners, for instance, for the purpose of enhancing Our products and services or so that they can market their products or services to you. If you do not want Us to share your personal information with these companies, contact us at <a href="mailto:privacy@contextsmith.com">privacy@contextsmith.com</a>.</li>
<li>Credit Card Processing: We use a third-party service provider to manage credit card processing. This service provider is not permitted to store, retain, or use billing information except for the sole purpose of credit card processing on ContextSmith&#8217;s behalf.</li>
<li>Agents, Consultants and Related Third Parties: ContextSmith, like many businesses, sometimes hires other companies to perform certain business-related functions. Examples of such functions include mailing information, maintaining databases and processing payments. When We employ another company to perform a function of this nature, We only provide it with the information that it needs to perform its specific function.</li>
<li>Legal Notice: In certain situations, ContextSmith may be required to disclose personal information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements. We may also disclose your personal information as required by law, such as to comply with a subpoena or other legal process, when We believe in good faith that disclosure is necessary to protect Our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request. If ContextSmith is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or by way a prominent notice on our website, of any change in ownership, uses of your personal information, and choices you may have regarding your personal information. We may also disclose your personal information to any other third party with your prior consent.</li>
</ul>
<h4></h4>
<h3><strong>Information Choices and Changes</strong></h3>
<p>Our marketing emails tell you how to “opt-out.” If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and account status.</p>
<p>You may send requests to correct, delete or update personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information.  If requested to remove data we will respond within a reasonable timeframe.</p>
<p>You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you.</p>
<h3><strong>International Transfer of Information</strong></h3>
<p>To facilitate our global operations, we may transfer and access personal information from around the world, including the United States. This Privacy Policy shall apply even if we transfer Personal Information to other countries.</p>
<h3><strong>Customer Data</strong></h3>
<p>ContextSmith customers and its end users may electronically submit data or information to the ContextSmith Platform for hosting and processing purposes (&#8220;Customer Data&#8221;). ContextSmith will not review, share, distribute, or reference any such Customer Data except as provided in the ContextSmith Terms of Use, in individual customer service agreements, or as may be required by law. In accordance with the ContextSmith Terms of Service, ContextSmith may access Customer Data only for the purpose of providing the ContextSmith services, preventing or addressing service or technical problems, at a ContextSmith customer&#8217;s request in connection with customer support matters, or as may be required by law.</p>
<h3><b>Security</b></h3>
<p>Personal information collected through a ContextSmith Site is kept in a secure database and all reasonable precautions are taken to secure this personal information. However, no Internet or email transmission is ever fully secure or error free. In particular, email sent to or from a ContextSmith Site may not be secure. Therefore, you should take special care in deciding what information you send to ContextSmith via email. Please keep this security limitation in mind when disclosing any personal information to ContextSmith via the Internet. The security of your personal information is important to us. When you enter sensitive information on our registration pages or order forms, We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once it is received. If you have any questions about the security of your personal information, you can contact us at <a href="mailto:privacy@contextsmith.com">privacy@contextsmith.com</a>.</p>
<h3><strong>Changes to Our Policy</strong></h3>
<p>We may change our business and any ContextSmith Site from time to time. As a result, at times it may be necessary for us to make changes to this Privacy Policy. ContextSmith reserves the right to update or modify this Privacy Policy at any time and from time to time without prior notice. If We make material changes to this Privacy Policy, We will notify you here, by email, or by means of a notice on our home page prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices, and especially before you provide ContextSmith with any personal information. This Privacy Policy was last updated on the date indicated at the top of this Privacy Policy. Your continued use of a ContextSmith Site after any changes or revisions to this Privacy Policy have been published shall indicate your agreement with the terms of such revised Privacy Policy.</p>
<h3><strong>Contact Information</strong></h3>
<p>We welcome your comments or questions about this privacy policy and you can contact us at <a href="mailto:privacy@contextsmith.com">privacy@contextsmith.com</a>. You may also send us physical mail to our address:</p>
<p>ContextSmith, Inc.<br />
440 N. Wolfe Road<br />
Sunnyvale, California 94085</p>
<div class="swp-content-locator"></div>					</div>
  <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PW3DCFF');</script>
      <!-- End Google Tag Manager -->
  <% end %>
</body>