<!-- Form -->
<div class="row header-box projects-box white-bg">
    <div class="col-lg-12">
        <div id="add-note-form" class="m-t">
            
            <%= render 'activities/form', :project_id => @project.id %>  
            
        </div>
    </div>
</div>

<!-- Filter Section -->
<%= render 'activities/filter', type: 'stream' unless @activities_by_month.blank? %>

<!-- Activities -->
<div id="newsfeed">
    <div class="row">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline m-t">
                <%= render 'projects/timeline' %>
            </div>
        </div>
    </div>
</div>

<% if @activities_by_month.blank? %>
    <div class="p-m m-l m-t white-bg">
        <h4 class="text-center">You don't have any activities for this stream!</h4>
        <h4 class="text-center">To add a note for this stream, type something into the area above and click on the <a class="btn btn-sm sticky-bg" style="display:inline;">Post</a> button.</h4>
    </div>
<% end %>

<%= javascript_include_tag "notifications_table" %>

<script type="text/javascript">
  $(function () {
    $("#newsfeed-link").parent().addClass("active");
  });

  var popupWindowRef = null;
  var prevPopup = null;

  var openGmailComposePopup = function (strUrl, strTarget) {
    // var top = (window.screen.height/2) - (500/2);
    // var left = (window.screen.width/2) - (700/2);
    var strOptions = "width=700,height=500";
    if (popupWindowRef == null || popupWindowRef.closed) {
      popupWindowRef = window.open(strUrl, strTarget, strOptions);
    }
    else if (prevPopup != strUrl) {   
      popupWindowRef = window.open(strUrl, strTarget, strOptions);
      popupWindowRef.focus();
    }
    else {
      popupWindowRef.focus();
    }
    prevPopup = strUrl;
  }

  var bsTooltip = $().tooltip // Save bootstrap tooltip here so that it can be referenced after jQuery UI loads

  // Code for dismissable + one-open-at-a-time popovers
  $(document).on('click', function (e) {
    $('[data-toggle="popover"],[data-original-title]').each(function () {
      //the 'is' for buttons that trigger popups
      //the 'has' for icons within a button that triggers a popup
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  // fix for BS 3.3.6
      }
    });
  });

</script>