
<% if pinned_activities.empty? %>
  <div class="p-m m-l white-bg header-box">
    <h4 class="text-center">You didn't pin any key activities for this stream!</h4>
    <h4 class="text-center">Click on the <span class="label label-primary">Pin as Key Activity</span> button at the bottom of each conversation or note to pin the important ones here.</h4>
  </div>
<% else %>
    <table class="table pinned-table table-condensed white-bg">
        <tbody>
                <% pinned_activities.each do |a| %>
                    <%= render 'activities/pinned', a: a %>
                <% end %>
        </tbody>
    </table>
<% end %>
<script type="text/javascript">
    $("#pinned-link").parent().addClass("active");
</script>
