<% @activities_by_month.each do |month, activities| %>
    <div class="vertical-timeline-month">
        <h3 class="p-xs m-l-n-sm gray-bg"><%= month %></h3>
    </div>
    
    <% activities.each do |a| %>
        <%= render 'activities/timeline_block', a: a %>
    <% end %>
<% end %>

<% if @activities_by_month.present? %>
  <% if @last_page %>
    <div class="timeline-end">
        <hr>
        <h3 class="text-mute-gray">You've reached the beginning.</h3>
    </div>
  <% else %>
    <div class="text-center">
      <button id="load-more" class="btn btn-primary m-b-lg">Read More <i class="fa fa-angle-double-right"></i></button>
    </div>
    <script type="text/javascript">
    $(function () {
      // Pagination/Infinite Scroll
      var page = <%= @page %>
      $('#load-more').click( function () {
        $(this).prop("disabled", true);
        $(this).replaceWith('<i id="loading-more" class="fa fa-spinner fa-3x fa-pulse m-b-lg"></i>');
        page++;
        var url = '<%= project_path(@project) %>/more?page=' + page
        var categoryFilter = $('.comment_category').val() ? "category=" + $('.comment_category').val() : "";
        var emailFilter = $('.user_filter').val() ? "emails=" + $('.user_filter').val() : "";
        if (emailFilter || categoryFilter) {
            url += "&" + emailFilter;
            if (emailFilter && categoryFilter) {
                url += "&";
            }
            url += categoryFilter;
        }
        $.getScript(url);
      });
      var win = $(window);
      win.scroll(function () {
        if ($(document).height() - win.height() == win.scrollTop()) {
          $('#load-more').click();
        }
      });
    });
    </script>
  <% end %>
<% elsif params[:action] == "filter_timeline" %>
    <div class="timeline-end" style="height:0;">
        <hr>
        <h3 class="text-mute-gray">You've filtered everything out.</h3>
    </div>
<% end %>