<!-- Form -->
<div class="row comment-header-box white-bg">
    <div class="col-lg-12">
        <div id="add-note-form" class="m-t-sm m-b-sm">
            
            <%= render 'activities/form', :project_id => @project.id %>  
            
        </div>
    </div>
</div>

<!-- Activities -->
<div id="newsfeed">
    <div class="row">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline">

                <% @activities.each do |a| %>
                    <%= render 'activities/timeline_block', a: a %>
                <% end %>

            </div>
        </div>
    </div>
</div>

<% if @activities.empty? %>
  <div class="p-m m-l m-t white-bg" style="width:100%;">
    <h4 class="text-center">You don't have any emails or notes for this project!</h4>
    <h4 class="text-center">To add a note for this project, type something into the area above and click on the <button class="sticky-bg note-btn" disabled="true" style="opacity:1;"><i class="fa fa-sticky-note"></i></button> button.</h4>
  </div>
<% end %>

<script type="text/javascript">
    $("#newsfeed-link").parent().addClass("active");
</script>