<div class="text-center loginscreen animated">
  <div>
       <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
      <div class="ibox-content middle-box">
      
      	<h1 class="logo-name oauth">Log In</h1>
      	<p class="oauth">Welcome back!</p>

        <a class="btn btn-lg btn-primary oauth" href="<%= user_omniauth_authorize_url(:google_oauth2) %>"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Log In Using Google</span></a>

      	<button id="outlook-login" class="btn btn-lg btn-primary oauth m-t-lg"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Log In Using Outlook</span></button>
        <%= render "users/form_exchange", button_text: "Log In" %>

        <p class="m-t-lg"> Don't have an account? <a href="<%= new_user_registration_path %>"> Sign up here. </p>
  	
  	</div>

  	<p class="m-t"><small><a href="http://www.contextsmith.com">ContextSmith.com</a> &nbsp;&nbsp;ContextSmith, Inc. © 2017</small> </p>
    <p><a href="https://www.contextsmith.com/privacy/">Privacy</a> | <a href="https://www.contextsmith.com/terms/">Terms</a></p>
  </div>
</div>