<div class="middle-box text-center loginscreen animated">
  <div>
      <div>
          <h1 class="logo-name">IN+</h1>
      </div>
      <h3>Welcome to IN+</h3>
      <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.</p>
      <p>Login in. To see it in action.</p>

      <a class="btn btn-md btn-primary btn-block" href="<%= user_omniauth_authorize_url(:google_oauth2) %>">Sign In Using Google</a>

      <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>
  </div>
</div>
            




