<div class="text-center loginscreen animated">
  <div>
       <a href="http://www.contextsmith.com" class="oauth logo"><!-- LOGO --></a>
      <div>
          <h1 class="logo-name">Log In</h1>
      </div>
      <p class="oauth">Welcome back!</p>

      <button class="btn btn-lg btn-primary oauth" onclick="location.href='<%= user_omniauth_authorize_url(:google_oauth2) %>'"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold">Log In Using Google</span></button>
  </div>
</div>
            




