<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Set Up Jira WebHook</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">WebHook URL</div>
        <div class="col-lg-9">https://<%= request.domain %>/hooks/jira</div>
    </div>
</div>