/* Main search bar */
.selectize-control .selectize-input {
  color: inherit;
  display: block;
  padding: 6px 12px 6px 20px !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  margin-bottom: 10px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 20px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #f3f3f3 inset;
  overflow: visible;
  text-align: left;
}

.selectize-control .selectize-input > div .name,
.selectize-control.main-search .selectize-input > div .name {
  display: inline-block;
}
.selectize-control .selectize-input > div .name:after,
.selectize-control.main-search .selectize-input > div .name:after {
  content: '\00A0';
}
.selectize-control .selectize-input > div .email,
.selectize-control.main-search .selectize-input > div .account {
  opacity: 0.8;
}
.selectize-control .selectize-input > div .email:before {
  content: '<';
}
.selectize-control .selectize-input > div .email:after {
  content: '>';
}
.selectize-control .selectize-dropdown .caption,
.selectize-control.main-search .selectize-dropdown .caption {
  font-size: 12px;
  display: block;
  color: #a0a0a0;
  text-align: left;
}
.selectize-control .selectize-dropdown .label,
.selectize-control.main-search .selectize-dropdown .label {
  font-size: 13px;
  padding: 0;
  background-color: transparent;
  text-align: left;
  display: block;
}
.hide-submit-button {
  height: 0;
  visibility: hidden;
  width: 0;
}
.fix-height {
  height: 40px;
}
.no-display {
  display: none;
}