// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.merge-wrapper {
  width: 450px;
  vertical-align: middle;
}

.white-bg {
  background-color: white !important;
}

.metric {
  margin-top: 20px;
  text-align: left;
}

.metric-title h5 {
  margin: 5px 0 10px;
  font-weight: 500;
  font-size: 14px;
}
.metric-content h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.panel.blank-panel {
  margin-bottom: -3px !important;
}

.blank-panel .panel-body {
  padding: 15px 0 15px 15px;
}

.projects-box {
  margin-left: 17px;
  margin-right: 0;
}

.toggle-open {
  cursor: pointer;
}

/* Fix for member/subscriber search inputs */
.z-3 {
  z-index: 3;
}
.z-2 {
  z-index: 2;
}

.vertical-timeline-content .tasks-footer {
  display: none;
  border-top: 1px solid #e7e7e8;
  margin: 0 -13px;
  padding: 0 13px;
}

.timeline-end {
  width: 400px;
  margin: 30px auto 0;
  text-align: center;
}

.timeline-end hr {
  border-top-color: #cccccc;
}

.timeline-end h3 {
  position: relative;
  top: -30px;
  background-color: #f3f3f4;
  width: 225px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .vertical-date {
    display: none;
  }
}
//*------- Used to display Rag Status --------*//
.large-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #737373;
  opacity: 0.8 ;
}

.small-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8 ;
  margin: 5px;
}
.index-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8 ;
  border: 1px solid #737373;
  opacity: 0.8 ;
}

.rag-circle1{
  background-color:#ed5565;
}

.rag-circle2{
  background-color:#FFA500;
}

.rag-circle3{
  background-color:#A1C436;
}

.rag-border-color1{
  border: 3px solid #ed5565;
}

.rag-border-color2{
  border: 3px solid #FFA500;
}

.rag-border-color3{
  border: 3px solid #A1C436;
}

.rag-bar1{
  border-left: 4px solid #ed5565;
}

.rag-bar2{
  border-left: 4px solid #FFA500;
}

.rag-bar3{
  border-left: 4px solid #A1C436;
}

//* ----- SimpleForm Styles (used for New Note's RAG-Status radio buttons) -------*//

.simple_form {
  label > input{
    visibility: hidden;
    position: absolute;
  }

  label > input + .small-circle{
    cursor:pointer;
  }

  label > input:checked + .rag-border-color1{
    background: #ed5565;
  }

  label > input:checked + .rag-border-color2{
    background: #FFA500;
  }

  label > input:checked + .rag-border-color3{
    background: #A1C436;
  }
}
