// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require datepicker/datepicker3.css

.merge-wrapper {
  width: 450px;
  vertical-align: middle;
}

.in-bl {
  display: inline-block;
}

.white-bg {
  background-color: white !important;
}

.metric {
  
}

.metric-content {
  text-align: center;
}