// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require datepicker/datepicker3.css

.merge-wrapper {
  width: 450px;
  vertical-align: middle;
}

.in-bl {
  display: inline-block;
}

.white-bg {
  background-color: white !important;
}

.metric {
  margin-top: 20px;
  text-align: left;
}

.metric-title h5 {
  margin: 5px 0 10px;
  font-weight: 500;
  font-size: 14px;
}
.metric-content h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.open-task {
  color: #e58646;
}

.touch-by {
  color: #3C8DC5;
}

.blank-panel .panel-body {
  padding: 15px 0 15px 15px;
}

.top {
  vertical-align: top;
}

.vertical-timeline-icon.note-btn {
  position: relative;
  border-color: white;
}
.vertical-timeline-icon.note-btn i {
  top: 8.5px;
}

.vertical-timeline-icon.note-btn:focus, .vertical-timeline-icon.note-btn:active {
  outline: none;
  border-color: #0099ff;
}

@media only screen and (max-width: 768px) {
  .vertical-timeline-icon.note-btn {
    display: inline;
  }

  .vertical-date {
    display: none;
  }
}
