// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report-chart {
  min-width: 310px;
  margin: 0 auto;
}

.daterange.form-control {
  width: 186px;
}

.row .filter-space {
  margin-bottom: 1em;
}