// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-chart {
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}