//*------- Used to display Rag Status --------*//
.large-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #737373;
  opacity: 0.8 ;
}

.small-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8 ;
  margin: 5px;
}
.index-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8 ;
  border: 1px solid #737373;
  opacity: 0.8 ;
}

.rag-circle1{
  background-color:#ed5565;
}

.rag-circle2{
  background-color:#FFA500;
}

.rag-circle3{
  background-color:#A1C436;
}

.rag-border-color1{
  border: 3px solid #ed5565;
}

.rag-border-color2{
  border: 3px solid #FFA500;
}

.rag-border-color3{
  border: 3px solid #A1C436;
}

.rag-bar1{
  border-left: 4px solid #ed5565;
}

.rag-bar2{
  border-left: 4px solid #FFA500;
}

.rag-bar3{
  border-left: 4px solid #A1C436;
}

//* ----- SimpleForm Styles (used for New Note's RAG-Status radio buttons) ----- *//

.simple_form {
  label > input{
    visibility: hidden;
    position: absolute;
  }

  label > input + .small-circle{
    cursor:pointer;
  }

  label > input:checked + .rag-border-color1{
    background: #ed5565;
  }

  label > input:checked + .rag-border-color2{
    background: #FFA500;
  }

  label > input:checked + .rag-border-color3{
    background: #A1C436;
  }
}

//* ----- Misc. ----- *//
.metric-title {
  font-weight: bold;
  font-size: 14px;
}
.metric-content {
  font-size: 26px; 
}

ul.nav-tabs li.active a {
  background: #f9f9f9;
  color: #3C8DC5;
  //font-weight: bold;
}

.white-bg {
  background-color: white !important;
}

.nav-tabs {
  border-bottom: none;
}

.timeline-end {
  width: 400px;
  margin: 30px auto 0;
  text-align: center;
}

.timeline-end hr {
  border-top-color: #cccccc;
}

.timeline-end h3 {
  position: relative;
  top: -30px;
  background-color: #f3f3f4;
  width: 225px;
  margin: 0 auto;
}
