@keyframes greenfadeout {
  from {background-color: springgreen;}
  to {background-color: transparent;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes greenfadeout {
  from {background-color: springgreen;}
  to {background-color: transparent;}
}

.green-fade-out {
  /* color: #3C8DC5; */
  -webkit-animation-name: greenfadeout;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;        /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  animation-name: greenfadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.success-btn-highlight {
  color: darkolivegreen;
  background-color: springgreen;
  border: 1px solid darkolivegreen;
  transition: all 0.5s;
}

.success-btn-highlight:hover {
  color: white;
  background-color: darkolivegreen;
}

.error-btn-highlight {
  color: white;
  background-color: tomato;
  transition: all 0.5s;
}

.error-btn-highlight:hover {
  color: tomato;
  background-color: white;
  border: 1px solid tomato;
}

.box-shadow {
  box-shadow: 3px 3px 1px #888888;
}

.filter-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 23px;
}

.filter-switch input {display:none;}

.filter-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.filter-slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .filter-slider {
  background-color: #3c8dc5;
}

input:focus + .filter-slider {
  box-shadow: 0 0 2px #666;
}

input:checked + .filter-slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded filter-sliders - solid base */
.filter-slider.round {
  border-radius: 24px;
}

.filter-slider.round:before {
  border-radius: 50%;
}