<%= simple_form_for(Activity.new, remote: true) do |f| %>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="vertical-timeline-icon sticky-bg note-btn">
            <i class="fa fa-sticky-note"></i>
        </button>
      </span>
      <%= f.input :note, label: false, as: 'text', input_html: { style: 'resize:none;border:none;overflow:hidden;', data: "autoresize", rows: "1" }, placeholder: "Add a note..." %>
    </div>
  <input value="<%= project_id %>" class="hidden form-control" type="hidden" name="project_id" id="project_id">
<% end %>