<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= @title %></h2>
        <% if params[:controller] != "home" %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= authenticated_root_path %>">Home</a>
            </li>
            <li class="active">
                <strong><%= @title %></strong>
            </li>
        </ol>
        <% end %>
    </div>
</div>